{% extends './base/base.html' %}

{% block estilos %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_file.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block titulo %}
    CREATE FILE
{% endblock %}

{% block contenido %}
    <div class="container col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8">
        <div class="row row-spacing justify-content-center">
            <div class="col">
                <form action="{{ url_for('CreateFile') }}" enctype="multipart/form-data" method="POST">
                    <div class="row align-items-center page">
                        <div class="col-12 ">
                            <div class="mb-2 mt-3 text-center">
                                <div class="text-newfile">NEW FILE</div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-sm-6">
                            <div class="form-create-file">
                                <div class="my-3 mx-3">
                                    <input type="text" class="input-text" placeholder="Name file *" name="name_archivo" id="name_archivo" value="{{ name_archivo }}">
                                </div>
            
                                <div class="mb-3 mx-3">
                                    <input type="file" id="file" name="file">
                                    <label for="file" class="label">
                                        <i class="material-icons">
                                            create_new_folder
                                        </i>
                                        Choose a file
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-create-file">
                                <div class="row mb-3">
                                    <div class="col-12 col-md-6 text-center my-3">
                                        <img class="rounded" src="{{ url_for('static', filename='images/types/not-preview.png') }}" id="vista_previa" width="160px" height="160px">
                                    </div>
                                    <div class="col text-break">
                                        <small>
                                            <div id="nombre" class="fw-normal">Nombre:</div></small>
                                            <div id="tipo" class="fw-normal">Tipo:</div>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row page">
                        <div class="mb-2">
                            <div class="form-check form-switch mx-3 swith-create-file ">
                                {% if access == 'off' %}
                                    <input class="form-check-input" type="checkbox" role="switch" name="access" id="access">
                                {% endif %}
                                {% if access == 'on' %}
                                    <input class="form-check-input" type="checkbox" role="switch" name="access" id="access" checked>
                                {% endif %}
                                <label class="form-check-label" for="acess">
                                    Public access
                                    <img class="img-info" src="{{ url_for('static', filename='images/icon/info.png') }}" alt="">
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row page">
                        <div class="col-12 my-3">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <div class="row">
                                    {% for message in messages %}
                                        <div class="col-12">{{ message }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        {% endwith %}
                        </div>
                    </div>
                    
                    <div class="row page">
                        <div class=" d-grid gap-2 col-6 mx-auto mb-3">
                            <button type="submit" id="funsubir" class="btn btn-success btn-lg">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/image.js') }}"></script>
{% endblock %}
