body{
    background: #0F2027;
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}
.circle-image{
    background: black;
    border: 2px solid black;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}