.page{
    background: white;
}
.contener-imagen{
    max-height: 25rem;
    text-align: center;
    display: flex;
    align-items: center;
}
.imagen{
    min-height: 170px;
    max-height: 24rem;
}
.contener-imagen img{
    margin-top: 5%;
    width: 98%;
    height:98%;
    top:0px;
    left:0px;
}
.title{
    text-align: start;
    color: black;
    margin-top: 5px;
    margin-bottom: 1rem;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
}
@media (max-width: 800px){
    .title{
        font-size: 20px;
    }
}
.body-title{
    margin-top: 1rem;
    font-size: 15px;
    margin-bottom: 1rem;
}
.btn-title{
    text-align: start;
}
.btn-title .button{
    padding: 20px 0;
}
.text-url{
    overflow: hidden;
    font-size: 0px;
    visibility: hidden;
    opacity: 0;
}
