{% extends 'base/base.html' %}

{% block estilos %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cartas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
{% endblock %}

{% block titulo %}
    INICIO
{% endblock %}

{% block contenido %}
    <div class="container col-12 col-md-10 col-xl-9">
        <div class="row row-spacing">
            {% for archivo in archives %}
                <div class="col-6 col-sm-4 col-lg-3 mb-3 col-card">
                    <div class="card shadow-sm">
                        <div class="contener-imagen">
                            <img src="{{ archivo['ruta_vista'] }}" class="card-img-top imagen rounded" alt="...">
                        </div>
                        <div class="card-body ">
                            <h5 class="card-title">{{ archivo['nombre_archivo'] }}</h5>
                            <p class="card-text">
                                <div>Peso: {{ archivo['size'] }}</div>
                                <div>Tipo: .{{ archivo['type'] }}</div>
                            </p>
                            <div class="d-flex justify-content-evenly">
                                <div>
                                    <a href="/file/preview/{{ archivo['url_share'] }}" class="btn btn-success btn-sm">
                                        <ion-icon name="eye-outline"></ion-icon>
                                    </a>
                                </div>
                                <div>
                                    <a href="/file/download/{{ archivo['id_archivo'] }}" class="btn btn-primary btn-sm">
                                        <ion-icon name="arrow-down-outline"></ion-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="footer bg-black border-top">
        <div class="container">
            <div class="row mb-2 mt-2">
                <div class="col offset-lg-1 text-start">
                  <img src="https://sigedin.itp.edu.co/sigeitp/sigedin_excel/imagenes/Logo_ITP%20(1).png" alt="ITP" width="110" height="110">
                </div>
                <div class="col offset-lg-1 text-end">
                    <p class="fs-4 text-white">Desarrolladores</p>
                    <p class="h6 text-secondary">Cordoba Botina James Estiven</p>
                    <p class="h6 text-secondary">Miranda Barragan Darien Manuel</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
