{% extends './base/base.html' %}

{% block estilos %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
{% endblock %}

{% block titulo %}
    REGISTER
{% endblock %}

{% block contenido %}
    <div class="container col-12 col-sm-9 col-md-6 col-lg-4">
        <div class="row row-spacing align-items-center justify-content-center">
            <div class="col">
                <form action="{{ url_for('register') }}" method="POST">
                    <div class="mb-2 mt-1 text-center">
                        <img src="{{ url_for('static', filename='images/user.png') }}" class="circle-image" alt="img_usuario" >
                    </div>

                    <div class="mb-2 text-end">
                        <div class="text-info-user">
                            You have an account <a href="{{ url_for('login') }}" class="link-sin">sign in</a>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6">
                            <input type="text" class="input-text" placeholder="Name *" id="name" name="name" value="{{ name }}">
                        </div>
                        <div class="col-6">
                            <input type="text" class="input-text" placeholder="Last name" id="last_name" name="last_name" value="{{ last_name }}">
                        </div>
                    </div>
                    
                    <div class="mb-2">
                        <input type="email" class="input-text" placeholder="example@gmail.com *" name="user" id="user" value="{{ user }}">
                        <div id="validate_email" class="form-text">Email</div>
                    </div>

                    <div class="mb-2">
                        <input type="password" class="input-text" name="password" id="password" placeholder="Password *">
                        <div id="cantidad" class="form-text">Debe contener minimo 8 digitos</div>
                        <div id="caracteres" class="form-text">Almenos una mayuscula, un numero y un caracter especial</div>
                    </div>
                    
                    <div class="d-grid gap-2 col-6 mx-auto mb-3">
                        <button type="submit" class="boton boton-animation" >Sign up</button>
                    </div>

                    {% if alerta == True %}
                        <div class="alert alert-success" role="alert"> 
                            <div class="row">
                                <div class="col-12">Su cuenta ha sido registrada con exito!</div>
                            </div> 
                        </div>
                        <div class="alert alert-primary" role="alert">
                            <div class="row">
                                <div class="col-12">Dirigirse a su correo para su activación</div>
                                <div class="col-12">Si no ha recibido ningun correo ingrese <a href="/register/{{ id_new_user }}" style="text-decoration: none;">aquí</a></div>
                            </div> 
                        </div>
                    {% endif%}

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-danger d-flex align-items-center" role="alert"> 
                                <div class="row">
                                    {% for message in messages %}
                                        <div class="col-12">{{ message }}</div>
                                    {% endfor %}
                                </div> 
                            </div>
                        {% endif %}
                    {% endwith %}

                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/validate_password.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validate_email.js') }}"></script>
{% endblock %}